#container{
    width: 400px;
    background-color: rgb(112, 119, 193);
    padding:20px;
}
h1{
    color: rgb(215, 249, 250);
}

input{
    width: 100%;
    padding:5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
ul,li{
    color:rgb(37, 106, 112);
    margin:0;
    padding:0;
    list-style-type: none;
}
.list{
    margin:15px 0;
}

.list>li{
    background-color: rgb(215, 249, 250);
    padding: 5px;
    margin-bottom:2px;
    display: flex;
    justify-content: space-between;
}
.btn{
    display: flex;
    justify-content: flex-end;
    padding: 5px 0;
}
.btn >button{
    padding: 5px;
}
p{
    color: rgb(215, 249, 250);
}